<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<h1>User Table</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Age</th>
    <th>Email</th>
    <th>Phone number</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.phoneNumber}"></td>
  </tr>
</table>
  <a th:href="@{/addUser}">Add User</a>
</form>
</body>
</html>